.login-page{
  background-image: url("https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg?cs=srgb&dl=pexels-brotin-biswas-518543.jpg&fm=jpg");
  background-size: cover;
  height: 89.9vh;
  padding-top: 70px;
}
.login{
  display: flex;
  flex-direction: column;
  width:fit-content ;
  text-align: center;
  padding: 30px;
  margin-left: 40%;
  background-color: #d9d1d1;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 4px 4px 4px #888484;
}
.loginform{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.loginform input{
  margin: 20px;
  padding: 7px;
  border-radius: 2em;
}
.loginform button{
  width:fit-content;
  margin-left: 80px ;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border-radius: 2em;
  background-color: black;
  color: white;
}

.loginform button:hover{
  background-color:rgb(185, 177, 177);
  color: black;
}